<!DOCTYPE html>
<html lang="es">
<head>
	<title>Flamas</title>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title></title>
	<style >
	body{
		background-color: #FF5733 ;
		text-align: center;
	}
	div{
		background-color: white;
		color:black;
		margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
		text-align: center;
		font-size: xx-large;
	}

	</style>
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	<div>Jesus Angel Valdes Alcantara</div>
<h2></h2>

</body>
</html>